.car-card-container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, 300px);
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}