$small: 450px;
$medium: 1000px;

.info-panel-container {
  margin: 0 auto;

  column-count: auto;
  column-width: 320px;
  column-fill: balance;
  column-gap: 1em;
  overflow: visible;

  .info-card-container {
    width: 100%;
  }

  .info-panel-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    break-inside: avoid-column;
    overflow: hidden;
    display: inline;
    width: 100%;
    max-width: 320px;
    margin: auto;
    margin-bottom: 20px;
    background: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .card-header {
      width: 310px;
      padding: 10px 10px 5px 10px;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      font-family: "Overpass", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.1em;

      color: #b81111;
      border-bottom: #b81111 2px solid;

      img {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .card-body {
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;

      .info-thumbnail {
        position: relative;
        width: 275px;
        height: 183px;
        border-radius: 5px;
        overflow: hidden;
      }

      .info-table {
        width: 100%;

        td {
          padding: 10px;
        }
      }

      .body-row {
        background: #FFF;
        text-align: left;
        font-size: 15px;
        line-height: 17px;
        border-bottom: 1px #00000049 solid;

        .body-title {
          width: 110px;
        }

        .body-text {
          width: 200px;
        }

        .wheel-title {
          width: 80px;
        }

        .wheel-text {
          width: 230px;
        }

        .body-img {
          width: 100px;
          border-radius: 10px;
        }
      }
    }
  }
}