.hidden-sm-up {
  display: none !important;

  @media screen and (max-width: 650px) {
    display: flex !important;
  }
}

.hidden-sm-down {
  display: none !important;

  @media screen and (min-width: 650px) {
    display: block !important;
  }
}

.category-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bold;
  font-size: 18px;
  color: #b81111;
  text-transform: uppercase;
  font-family: var(--font-overpass);

  h3 {
    margin-left: 8px;
    line-height: 0.9;
  }
}

.form-details-modal {
  background: #FFF;
  width: 80%;
  position: absolute;

  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  // background: #30303023;
  max-width: 700px;
  padding: 5px 10px;
  padding-bottom: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;

  h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--font-overpass);
    background: #FFF;
    color: #b81111;
    padding: 4px 15px;
    border-top: 3px #b81111 solid;
    border-bottom: 3px #b81111 solid;
  }

  @media screen and (max-width: 450px) {
    padding: 10px;
  }

  .form-array-header {
    padding: 0px 5px 5px 5px;
    width: 100%;
    display: flex;
    border-bottom: 1px #b81111 solid;
    margin-bottom: 5px;
  
  }
  
  .form-make-model-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .form-thumbnail-container {
    width: 100%;
    background: none;
    position: relative;
    padding: 0px 0px;
    margin: 5px;

    img {
      border-radius: 10px;
    }
  }

  .form-array-container {
    position: relative;
    width: 100%;

    .form-array-body {
      display: flex;
      flex-direction: column;

      .form-array-row-selected {
        background-color: #f3f8fd !important;
      }

      .form-row-odd {
        background-color: #fdfdfd;
      }

      .form-row-even {
        background-color: #f5f5f5ed;
      }
    }
  }
}

.form-footer {
  position: fixed;
  z-index: 400;
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  max-width: 680px;
  padding: 10px 10px;
  background: #ececec;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.form-wheel-disabled-overlay {
  background: rgba(206, 206, 206, 0.363);
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 3000;
  gap: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;

  div {
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
}