.profile-header {
  display: flex;
  border-bottom: 3px #b81111 solid;
  border-top: 3px #b81111 solid;

  background-color: #FFF;
  // color: #FFF;
  gap: 15px;
  font-family: var(--font-overpass);
  font-size: 18px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;

  span {
    color: #b81111;
    font-weight: bold;
  }
}